body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Verdana, sans-serif;
  font-weight: normal;
  font-size: 50px;
}
